.image-upload-button {
  align-items: center;
  padding: 10px;
  background: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 10px;
  border-width: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 25vw;
  height: auto;
  margin: 10px;
  font-weight: bold;
}

.image-upload-button:hover {
  background-color: #ececec;
}

.image-upload-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #f7f7f7;
  border-width: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
}
