@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.fl-icon {
  font-weight: bold;
  font-size: 28px;
}
.fl-icon:hover {
  cursor: pointer;
}

.button-box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.selected-friends-button {
  width: 100%;
  border: none;
  background-color: white;
  height: 40px;
  text-align: left;
  font-weight: bold;
  color: black;
  background-image: url("../../assets/selected-manage-friends.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
}
.selected-friends-button:hover {
  cursor: pointer;
}

.selected-register-button {
  width: 100%;
  border: none;
  background-color: white;
  height: 40px;
  text-align: left;
  font-weight: bold;
  color: black;
  background-image: url("../../assets/selected-register.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
}
.selected-register-button {
  cursor: pointer;
}

.selected-user-button {
  width: 100%;
  border: none;
  background-color: white;
  height: 40px;
  text-align: left;
  font-weight: bold;
  color: black;
  background-image: url("../../assets/selected-manage-user.png");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
}
.selected-register-button {
  cursor: pointer;
}
.unselected-friends-button {
  width: 100%;
  border: none;
  background-color: white;
  height: 40px;
  text-align: left;
  font-weight: bold;
  color: gray;
  background-image: url("../../assets/unselected-manage-friends.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
}
.unselected-friends-button:hover {
  color: black;
  cursor: pointer;
}

.unselected-user-button {
  width: 100%;
  border: none;
  background-color: white;
  height: 40px;
  text-align: left;
  font-weight: bold;
  color: gray;
  background-image: url("../../assets/unselected-manage-user.png");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
}
.unselected-user-button:hover {
  color: black;
  cursor: pointer;
}

.unselected-register-button {
  width: 100%;
  border: none;
  background-color: white;
  height: 40px;
  text-align: left;
  font-weight: bold;
  color: gray;
  background-image: url("../../assets/unselected-register.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 50px;
}
.unselected-register-button:hover {
  color: black;
  cursor: pointer;
}

.logout-button {
  margin-left: 5px;
  width: 100%;
  border: none;
  background-color: white;
  height: 40px;
  text-align: left;
  font-weight: bold;
  color: gray;
  background-image: url("../../assets/logout.png");
  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 45px;
}
.logout-button:hover {
  color: black;
  cursor: pointer;
}

.navbar {
  font-family: "Poppins", sans-serif;
  width: 220px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  border-right: black 1.5px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
